* {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 18px;
}
header {
    background-color: tomato;
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px; */
}
h1 {
    color: aliceblue;
}
article, aside {
    margin: 0 20px;
}
article {
    border-bottom: 1px solid black;
}


@media screen and (min-width: 100px) and (max-width: 500px) {
    header, .content {
        width: 728px;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: yellow;
    }
}